<!-- GitHub Buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
    <script type="text/javascript" language="javascript">

        var buttonPress = function ()
        {
            var com = document.getElementById('comment-form-message'); // comment-form-message - comment - comments
            var filterWords = ["biamb", "iujxnsp", "fqxtzbiyr", "world4news];
            // "i" is to ignore case and "g" for global
            var rgx = new RegExp("("+filterWords.join("|")+")", "gi");
            com.value = com.value.replace(rgx, "****");

            // change this to 'return true;' when you will be sure that all your bad words are catched and the form is ready to be submitted
            return false;
        }
    </script>
